.cover {
  background-color: white;
  margin-bottom: 64px;
  -webkit-box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 15%);
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 15%);
}

.author {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 60px;
}